{%extends "admin/base.html.twig"%}
{%block contenu%}

<div class="container p-3">
    <div class="row">
        <div class="col-12 shadow">
            <div class="row">
                <br>
                <div class="col-2"></div>
                <div class="col-8" align="center">
                    <h4>Diplômes</h4>
                </div>
                <div class="col-2"></div>
            </div><hr>
            {{form_start(formulaire)}}
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            {{form_row(formulaire.nomDip)}}
                        </div>
                        <div class="form-group">
                            {{form_row(formulaire.etablissementDip)}}
                        </div>
                        <div class="form-group">
                            {{form_row(formulaire.anneesDip)}}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            {{form_row(formulaire.nbSemestresDip)}}
                        </div>
                        <div class="form-group">
                            {{form_row(formulaire.lmd)}}
                        </div><br>
                        <div class="form-group">
                            <div class="col-2 float-left d-inline">
                                {{form_row(formulaire.save)}}
                            </div>
                            <div class="col-2 float-right d-inline">
                                <a class="btn btn-danger" href="{{path('diplome')}}">Annuler</a>
                            </div>
                        </div>
                    </div>
                </div>
            {{form_end(formulaire)}}
        </div>
    </div>
</div>


{#<a href="" target="blinck" class="btn btn-success"><i class="fa fa-print"></i> Etat à l'impresson</a>#}

{%endblock%}

