{% extends "admin/base.html.twig" %}
{% block contenu %}

<div class="container p-3">
    <div class="row">
        <div class="col-8 shadow p-4">
            <div class="row">
                <br>
                <div class="col-2"></div>
                <div class="col-8" align="center">
                    <h4>Ajouter une Modalité de control de connaissance</h4>
                </div>
                <div class="col-2"></div>
            </div><hr>
            {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        {{ form_row(form.session1) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.secondeChance) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.session2) }}
                    </div>
                    <div class="form-group">
                        <div class="col-2 float-left d-inline">
                            {{form_row(form.save)}}
                        </div>
                        <div class="col-2 float-right d-inline">
                            <a class="btn btn-danger" href="{{ path('mcc') }}">Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}
