{% extends "admin/base.html.twig" %}
{% block contenu %}

<div>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    <div class="modal-content">
        <div class="modal-header bg-primary text-white" align = "center">
            <h5 class="modal-title" id="exampleModalLongTitle">Gestion de compétences</h5>
        </div>
     
    </div>
</div><br><br>

<a type="button" class="btn mr-2 mb-2 btn-primary" href="{{path('ajouter_mcc')}}">Nouvelle MCC</a>

<div class="main-card mb-3 card">
    <div class="card-body">
        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Intitulé</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for mcc in mcc %}
                <tr>
                    <td>{{ mcc.id }}</td>
                    <td>{{ mcc.intituleMcc }}</td>
                    <td>{{ mcc.descriptionMcc }}</td>
                    
                    <td>
                        <a href="{{ path('modifier_mcc', {id: mcc.id}) }}" class="btn btn-warning btn-sm text-white">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="{{ path('supprimer_mcc', {id: mcc.id}) }}" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Identifiant</th>
                    <th>Intitulé</th>
                    <th>Description</th>
                    <th>Action</th>
                    
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endblock %}
