{% extends "admin/base.html.twig" %}
{% block contenu %}

<div class="container p-3">
    <div class="row">
        <div class="col-12 shadow">
            <div class="row">
                <br>
                <div class="col-2"></div>
                <div class="col-8" align="center">
                    <h4>Ajouter une connaissance</h4>
                </div>
                <div class="col-2"></div>
            </div><hr>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                 
                    {{ form_row(form.ectsConn) }}
                    {{ form_row(form.descriptionConn) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                   {{form_row(form.save)}}
                    <a class="btn btn-danger" href="{{ path('connaissance') }}">Annuler</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}
