{% extends "admin/base.html.twig" %}
{% block contenu %}

<div>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    <div class="modal-content">
        <div class="modal-header bg-primary text-white" align = "center">
            <h5 class="modal-title" id="exampleModalLongTitle">Gestion de connaissance</h5>
        </div>
     
    </div>
</div><br><br>

<a type="button" class="btn mr-2 mb-2 btn-primary" href="{{path('ajouter_connaissance')}}">Nouvelle connaissance</a>

<div class="main-card mb-3 card">
    <div class="card-body">
        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Identifiant du bloc</th>
                    <th>Ects du connaissance</th>
                    <th>Description du connaissance</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for Connaissance in Connaissances %}
                <tr>
                    <td>{{ Connaissance.id }}</td>
                    <td>{{ Connaissance.ectsConn }}</td>
                    <td>{{ Connaissance.descriptionConn }}</td>
                    <td>
                        <a href="{{ path('modifier_connaissance', {id: Connaissance.id}) }}" class="btn btn-warning btn-sm text-white">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="{{ path('supprimer_connaissance', {id: Connaissance.id}) }}" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Identifiant du bloc</th>
                    <th>Ects du connaissance</th>
                    <th>Description du connaissance</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endblock %}
