{%extends "admin/base.html.twig"%}
{%block contenu%}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8" align="center">
        <h1>Diplômes</h1>
    </div>
    <div class="col-2"></div>
</div><br>
<br>

{% for type, messages in app.flashes %}
<div class="alert alert-{{ type }}" role="alert" style="color:black; text-align: center">
    {{ messages | join(' . ') }}
    <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
{% endfor %}

<a type="button" class="btn mr-2 mb-2 btn-primary" href="{{path('ajouter_ues')}}">Nouvelle UE</a>

<div class="main-card mb-3 card">
    <div class="card-body">
        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Ref</th>
                    <th>Semestre</th>
                    <th>Titre</th>
                    <th>ECTS HT</th>
                    <th>Type</th>
                    <th>Prérequis</th>
                    <th>CM</th>
                    <th>TD</th>
                    <th>TP</th>
                    <th>Effectif</th>
                    <th>Groupe CM</th>
                    <th>Groupe TD</th>
                    <th>Groupe TP</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for ues in ues %}        
                <tr>
                    <td>{{ ues.reference }}</td>
                    <td>{{ ues.semestre }}</td>
                    <td>{{ ues.titre }}</td>
                    <td>{{ ues.ects }}</td>
                    <td>{{ ues.type }}</td>
                    <td>{{ ues.prerequis }}</td>
                    <td>{{ ues.cm }}</td>
                    <td>{{ ues.td }}</td>
                    <td>{{ ues.tp }}</td>
                    <td>{{ ues.effectif }}</td>
                    <td>{{ ues.groupeCM }}</td>
                    <td>{{ ues.groupeTD }}</td>
                    <td>{{ ues.groupeTP }}</td>

                    <td>
                        <a href="{{ path('modifier_ues', {id: ues.id}) }}" class="btn btn-warning btn-sm text-white">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="{{ path('supprimer_ues', {id: ues.id}) }}" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Ref</th>
                    <th>Semstre</th>
                    <th>Titre</th>
                    <th>ECTS HT</th>
                    <th>Type</th>
                    <th>Prérequis</th>
                    <th>CM</th>
                    <th>TD</th>
                    <th>TP</th>
                    <th>Effectif</th>
                    <th>Groupe CM</th>
                    <th>Groupe TD</th>
                    <th>Groupe TP</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{%endblock%}