<!DOCTYPE HTML>
<html>
    <head>
        <title>Maquettes des formations</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Learn Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href="{{asset('client/css/bootstrap-3.1.1.min.css')}}" rel='stylesheet' type='text/css' />
        <link href="{{asset('bootstrap5/css/bootstrap.css')}}" rel='stylesheet' type='text/css' />
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{asset('client/js/jquery.min.js')}}"></script>
        <script src="{{asset('client/js/bootstrap.min.js')}}"></script>
        <!-- Custom Theme files -->
        <link href="{{asset('client/css/style.css')}}" rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="{{asset('client/css/jquery.countdown.css')}}" />
        <link href="{{asset('client/css/font-awesome.css')}}" rel="stylesheet"> 
        <link href="{{asset('css/modal.css')}}" rel="stylesheet"> 
        <script>
    $(document).ready(function(){
        $(".dropdown").hover(            
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');        
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');       
            }
        );
    });
    </script>
    </head>